@if(contacts$ | async; as contacts)  {
  @if(contacts){
    <h3 class="text-center">Contacts</h3>
    <div
        class="table-responsive"
    >
        <table
            class="table table-primary"
        >
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Is Favourite</th>
                </tr>
            </thead>
            <tbody>
                @for(contact of contacts; track $index){
                <tr  >
                    <td scope="row">{{contact.id}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.phone}}</td>
                    <td>{{contact.isFavourite? 'Yes' : 'No'}}</td> //this is a boolean
                </tr>
            }
            </tbody>
        </table>
    </div>
    
  }
}

<h1>Welcome to Contact Web Application</h1>